//Colours

$colour-primary: #ffffff;
$colour-background: #1f2127;
$colour-pink: #d922ff;
$clour-purple: #6820ff;
$colour-grey: #757575;

//Fonts

$font-primary: "PT Sans", sans-serif;
$font-secondary: "Teko", sans-serif;
$font-logo: "Press Start 2P", cursive;
$font-headlines: "Roboto Mono", monospace;
