.container-game {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  padding-top: 20px;

  a {
    color: #fff;
  }
  a:visited {
    color: #fff;
  }

  .game {
    border-bottom: 1px solid #6820ff;
    padding-top: 10px;
    @media (max-width: 770px) {
      font-size: 8px;
    }

    .icon-trashcan {
      float: right;
      padding-right: 50px;
      color: #d922ff;
      @media (max-width: 770px) {
        padding-right: 10px;
      }
    }
  }
}

.container-games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: 550px) {
    padding-left: 10px;
  }

  .games {
    background-color: #757575;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 350px;
    @media (max-width: 550px) {
      width: 200px;
      padding-bottom: 20px;
    }

    .games-title {
      padding-left: 10px;
      padding-top: 10px;
      font-family: "Roboto Mono", monospace;

      .games-title-name {
        width: 320px;
        height: 50px;
        padding-left: 20px;
        @media (max-width: 550px) {
          padding-left: 0px;
          width: 180px;
        }
      }
    }
    .games-icon {
      padding-right: 20px;
      float: right;
    }
    .games-button {
      background-color: #6820ff;
      color: #fff;
      font-family: "Russo One", sans-serif;
      letter-spacing: 2px;
      width: 150px;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 15px;
      position: relative;
      top: 20px;
      left: 90px;
      @media (max-width: 550px) {
        left: 25px;
        top: 32px;
      }
    }
  }
  .games-img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    background-color: #d922ff;
    border-radius: 10px 10px 0px 0px;
    @media (max-width: 550px) {
      width: 200px;
    }
  }
}
.container-games {
  h1 {
    color: #d922ff;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 30px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 550px) {
      padding-left: 10px;
    }
  }
  .games-genre {
    color: #d922ff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    @media (max-width: 550px) {
      padding-left: 10px;
    }
  }
}
