body {
  background-color: #1f2127;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 35px;
}
.container {
  margin: auto;
  width: 100%;
  padding: 0px;
  padding-bottom: 40px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
